

body {
    font-family: Arial, sans-serif;
}

.mainhead {
  display: flex;
    padding: auto;
    align-items: center;
    justify-content: space-between;  
  border: 1px solid #f7f5f5;
  }
.logo {
   display: flex;
    font-family: Georgia, serif;
    font-size: 10px;
    font-weight: bold;
justify-content: left;
    
}
.header-right {
    display: flex;
  
    justify-content: right;
}



.category {
    height: 32px;
}

.category select {
    height: 32px;
    width: 120px;

    border: none;
    background-color: #f5f5f5;

    color: #777;

    padding: 0 5px;

    outline: none;
    margin-left: 999px;
}

.search-box {
    display: flex;
    align-items: center;

    height: 32px;
    
    border: none;
    background-color: #f5f5f5;
font-size: 17px;
    cursor: pointer;
}

.navbar {
    height: 52px;
    background-color: black;

    display: flex;
    align-items: center;

    padding: 0 30px;

    color: white;
}
.menu-icon {
    font-size: 28px;
    width: 100px;
}

.menu-icon i {
    cursor: pointer;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-links a {
    color: white;
    text-decoration: none;

    font-family: Georgia, serif;
    font-size: 14px;
}
.nav-right {
    margin-left: auto;

    display: flex;
    align-items: center;
    gap: 28px;

}

.nav-right a {
    color: white;
    text-decoration: none;

    font-family: Georgia, serif;
    font-size: 13px;
}

.nav-right i {
    font-size: 22px;
    cursor: pointer;
}

.heart {
    color: red;
}
.background{
    height:600px;

    background: linear-gradient(
        to right,
        #f3f3f5 0%,
        #f3f3f5 35%,
        white 35%,
        white 100%
    );

    display:flex;
    justify-content:center;
    align-items:center;
}



    


.hero-content {
    width: 60%;
    margin-left: 20%;
    background-color: #f5f5f5;
        
}

.hero-image {
   display: flex;
    justify-content: center;
   
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 50px 0;
}

.hero-content{
    width: 80%;
    background:#f5f5f5;
    padding:60px;
    margin:0;       
}

.hero-image{
    width:50%;
    display:flex;
    justify-content:center;
    height: 600%;
   ;
    text-align: left;
}

.hero-image img{
    width:85%;
    height:auto;
  
}
.btun{
    background-color: black;
    color: whitesmoke;
     border-radius: 5px;
    
}
.btun:hover{
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
}
.one{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 15%;
    text-align:center;

}
.two{
    
    font-family: 'Caveat', cursive;
    font-size: 45px;
    text-align:center;

    text-shadow: #777;
}
.three{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
}


.best-seller{
    width:90%;
    margin:70px auto;
}

.title{
    text-align:center;
    font-size:50px;
    font-family:Georgia, serif;
    margin-bottom:45px;
}



.category-btns{

    display:flex;
    justify-content:center;
    gap:18px;
    flex-wrap:wrap;
    margin-bottom:55px;

}

.category-btns button{

    width:140px;
    height:45px;

    border:1px solid #555;
    border-radius:12px;

    background:white;

    font-size:20px;
    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

.category-btns button:hover{

    background:black;
    color:white;

}



.products{

    display:flex;

    justify-content:center;

    

    gap:30px;

}


.card{

    width:250px;

    text-align:center;

}

.card img{

    width:100%;
    height:320px;

    object-fit:cover;

}

.card h3{

    margin-top:10px;

    font-size:22px;

    font-family:Arial;

}

.card p{

    font-size:20px;

    font-weight:bold;

}

.load-more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.load-more button{
    width: 180px;
    height: 50px;
    border: 2px solid black;
    border-radius: 30px;
    background: white;
    color: black;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.load-more button:hover{
    background: black;
    color: white;
}


.reviews{
    width:90%;
    margin:80px auto;
    text-align:center;
}

.reviews h1{
    font-size:50px;
    font-family:Georgia, serif;
    margin-bottom:50px;
}

.review-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.review-card{
    width:320px;
    padding:25px;
    border:1px solid #ddd;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition:.3s;
    background:white;
}

.review-card:hover{

}

.review-card img{
    width:80px;
    height:80px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:20px;
}

.review-card p{
    font-size:17px;
    line-height:28px;
    color:#555;
}

.review-card h3{
    margin-top:20px;
    font-size:22px;
}



.review-btn{
    margin-top:45px;
}

.review-btn button{
    width:200px;
    height:50px;
    border:none;
    background:black;
    color:white;
    font-size:18px;
    border-radius:30px;
    cursor:pointer;
   
}

.review-btn button:hover{
    background:#444;
}


.footer{

    background:#000;
    color:#fff;
    margin-top:80px;
    padding-top:60px;

}

.footer-top{

    width:90%;
    margin:auto;

    display:flex;
    justify-content:space-between;
   

    padding-bottom:60px;

}

.footer-column{

    width:220px;

}

.footer-column h3{

    margin-bottom:25px;
    font-size:28px;
    font-family:Georgia, serif;

}

.footer-column p{

    color:#ddd;
  
    margin-bottom:18px;
    font-size:17px;

}

.footer-column a{

    display:block;
    color:#ddd;
    text-decoration:none;
    margin-bottom:18px;
    font-size:17px;
   

}

.footer-column a:hover{

    color:#ffffff;
    padding-left:8px;

}

.footer hr{

    border:none;
    border-top:2px solid #555;

}

.footer-bottom{

    width:90%;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;
    

    padding:25px 0;

}

.copyright{

    font-size:18px;

}



.payments{

    display:flex;
    gap:15px;

}

.pay{

    padding:8px 14px;
    border-radius:5px;
    font-weight:bold;
    color:#fff;
    font-size:15px;

}

.visa{
background-color: #0070ba;
}

.master{
    background:#444;

}

.stripe{
    background:#635bff;
}

.paypal{
    background:#0070ba;
}



.footer-select{

    display:flex;
    gap:15px;

}

.footer-select select{

    background:#000;
    color:#fff;

    border:none;
    border-bottom:2px solid #fff;

  
    font-size:16px;
    outline:none;

}


.sale-banner{

    width:90%;
    height:680px;

    margin:30px auto;

    display:flex;

    background:#f4f4f4;

}
.sale-image{
    width:50%;
}

.sale-content{
    width:50%;
    height:500px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    background:#f5f5f5;
}

.sale-content h4{

    font-size:20px;
    font-weight:bold;
    margin-bottom:20px;
    letter-spacing:2px;

}

.sale-content h1{

    font-size:48px;
    font-family:Georgia, serif;
    margin-bottom:20px;
    line-height:60px;

}

.sale-content p{

    font-size:18px;
    color:#555;
    margin-bottom:30px;

}

.sale-content button{

    width:180px;
    height:50px;

    border:none;
    border-radius:8px;

    background:black;
    color:white;

    font-size:18px;
    cursor:pointer;

    transition:.3s;

}

.sale-content button:hover{

    background:#444;

}


.service-section{

    width:90%;
    margin:80px ;

    display:flex;

    align-items:center;
    

}

.service-card{

    width:30%;
    text-align:center;
    padding:20px;

}

.service-card i{

    font-size:70px;
    color:#000;
  

}

.service-card h2{

    font-size:30px;
    font-weight:bold;
   

}

.star{

    font-size:22px;
    

}

.service-card p{

    font-size:17px;
    color:#555;
    line-height:28px;

}

.service-card:hover{
background-color: #ddd;

}


.gallery{

    width:90%;
    margin:80px auto;

    display:flex;
    gap:20px;

}



.left-image{

    width:50%;
height: 150%;
}

.left-image img{

    width:100%;
    height:700px;

    object-fit:cover;
    

}


.right-images{

    width:60%;

    display:flex;
    flex-direction:column;

    gap:30px;

}

.row{

    display:flex;

    gap:20px;

}



.row img{

    width:33.33%;
    height:340px;

   
  

}



.left-image img,
.row{

   
    cursor:pointer;

}
